<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <title>Masseria Menu</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <style> 
      [v-cloak] { 
          display: none; 
      }
      .logo {
        height: 55px;
      }
      .cursive {
        font-family: 'Great Vibes', cursive !important;
      }
      .small {
        font-size: 1.2rem;
      }
      .medium {
        font-size: 1.5rem;
      }
      .text-top {
        vertical-align: text-top !important;
      }
      .big {
        font-size: 2rem;
      }
      .dialog_product {
        width: 500px;
      }
    </style>
  </head> 
<body>
  <div id="app">
    <v-app v-cloak>

      <v-app-bar app fixed color="grey darken-1" dark elevate-on-scroll src="sala_01.jpg">
        <v-toolbar-title>
          <v-img src="masseria_small.png" contain class="logo"></v-img>
        </v-toolbar-title>
        <v-spacer></v-spacer>
        <v-menu left>
          <template v-slot:activator="{ on, attrs }">
            <v-btn icon v-bind="attrs" v-on="on">
              <v-icon>mdi-dots-vertical</v-icon>
            </v-btn>
          </template>
          <v-list>
            <template v-for="(menu_item, i) in menu_items">
              <v-list-item v-if="menu_item.title" :key="i" @click="menuSelect(menu_item)">
                <v-list-item-avatar>
                  <v-icon v-text="menu_item.icon"></v-icon>
                </v-list-item-avatar>
                <v-list-item-title v-text="menu_item.title"></v-list-item-title>
              </v-list-item>
              <v-divider v-else :key="i"></v-divider>
            </template>
          </v-list>
        </v-menu>
      </v-app-bar>
            
      <v-container class="mt-16">
        <v-dialog v-model="dialog_contact">
          <template v-slot:activator="{ on, attrs }">
            <v-btn color="teal lighten-2" dark v-bind="attrs" v-on="on">
              <v-icon>mdi-whatsapp</v-icon>Iscriviti
            </v-btn>
          </template>
          <v-form method="POST" class="kwes-form" action="https://kwes.io/api/foreign/forms/qJKAWkeKSRU6uvXwaLFQ" lang="it" ref="form" v-model="valid">
            <v-card class="mx-auto blue-grey" dark>
              <v-card-title>
                <v-icon>mdi-whatsapp</v-icon>Whatsapp
              </v-card-title>
              <v-card-subtitle class="pb-0">
                Ricevi informazioni sui nostri menu
              </v-card-subtitle>
              <v-card-text class="py-0">
                <v-row>
                  <v-col sm="6" cols="12" class="py-0">
                    <v-text-field name="name" v-model="name" :counter="40" :rules="contact.nameRules" label="👤 Nome"></v-text-field>
                  </v-col>
                  <v-col sm="6" cols="12" class="py-0">
                    <v-text-field name="phone" v-model="phone" type="tel" :rules="contact.phoneRules" label="📞 Telefono"></v-text-field>
                  </v-col>
                </v-row>
              </v-card-text>
              <v-card-actions>
                <v-btn :disabled="!valid" color="success" type="submit" @click="dialog_contact = false">Iscriviti</v-btn>
                <v-btn dark color="grey" @click="dialog_contact = false">Annulla</v-btn>
              </v-card-actions>
            </v-card>
          </v-form>
        </v-dialog>


        <h2 class="text-center cursive big">
          <v-icon class="text-top" large>{{icon}}</v-icon>{{title}}
        </h2>

        <v-dialog v-model="dialog" class="dialog_product">
          <v-card>
            <v-card-title class="headline grey lighten-2" >
              <v-icon>{{icon}}</v-icon>{{dialog_product.title}}
            </v-card-title>
            <v-img :src="dialog_product.image"></v-img>
            <v-divider></v-divider>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="primary" text @click="dialog = false">OK</v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
        
        <v-list three-line subheader v-for="item in items" :key="item.title">
          <v-divider></v-divider>
          <template v-if="item.title || item.subtitle">
            <v-subheader class="cursive medium" v-text="[item.title, item.subtitle].filter(x => typeof x === 'string' && x.length > 0).join(' - ')"></v-subheader>
            <v-divider></v-divider>
          </template>
          <v-list-item v-for="product in item.products" :key="product.title">
            <v-list-item-avatar class="mt-1">
              <v-icon @click="openDialog(product)">{{icon}}</v-icon>
            </v-list-item-avatar>
            <v-list-item-content>
              <v-list-item-title class="text-uppercase" v-text="product.title"></v-list-item-title>
              <v-list-item-subtitle class="cursive small" v-text="product.line1"></v-list-item-subtitle>
              <v-list-item-subtitle class="cursive small" v-text="product.line2"></v-list-item-subtitle>
            </v-list-item-content>
            <v-list-item-action class="red--text cursive small" v-text="product.price"></v-list-item-action>
          </v-list-item>
        </v-list>
        </span>
      </v-container>
    </v-app>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.js"></script>
  <script src="appetizers.js"></script>
  <script src="pasta.js"></script>
  <script src="main_courses.js"></script>
  <script src="cheese.js"></script>
  <script src="cakes.js"></script>
  <script src="wines.js"></script>
  <script src="coffee.js"></script>
  <script>
    var menu_items =  [
      {
        icon: "mdi-food-variant",
        title: "Antipasti",
        items: appetizers
      },
      {
        icon: "mdi-pasta",
        title: "Primi",
        items: pasta
      },
      {
        icon: "mdi-silverware-fork-knife",
        title: "Secondi",
        items: main_courses
      },
      {
        icon: "mdi-cheese",
        title: "Formaggi",
        items: cheese
      },
      {
        icon: "mdi-cupcake",
        title: "Dolci",
        items: cakes
      },
      {
        icon: "mdi-glass-wine",
        title: "Vini",
        items: wines
      },
      {
        icon: "mdi-coffee",
        title: "Caffetteria",
        items: coffee
      },
    ];

    new Vue({
      el: '#app',
      vuetify: new Vuetify(),
      methods: {
        menuSelect(menu_item) {
          this.icon = menu_item.icon,
          this.title = menu_item.title,
          this.items = menu_item.items
        },
        openDialog(product) {
          this.dialog_product = product;
          this.dialog = true;
        }
      },
      data: {
        valid: true,
        name: '',
        phone: '',
        contact: {
          nameRules: [
            v => !!v || 'Campo obbligatorio',
            v => (v && v.length <= 40) || 'Troppo lungo',
          ],
          phoneRules: [
            v => !!v || 'Campo obbligatorio',
            v => /^((00|\+)39[\. ]??)??3\d{2}[\. ]??\d{6,7}$/.test(v) || 'Telefono non valido',
          ]
        },
        menu_items: menu_items,
        items: menu_items[5].items,
        title: menu_items[5].title,
        icon: menu_items[5].icon,
        dialog: false,
        dialog_product: {},
        dialog_contact: false
      },
      watch: {
        dialog_contact: (open) => {
          if(open)
            setTimeout(() => {
              var observer = new MutationObserver(() => {
                try {
                  document.querySelector("a[href='https://kwes.io']").parentElement.remove();
                  observer.disconnect();
                } catch (error) {};
              });
              observer.observe(document.querySelector("form.kwes-form"), { childList: true });
              kwesFormsInitialize();
            }, 0);
        }
      }
    });
  </script>
  <script src="https://kwes.io/v2/kwes-script.js" charset="utf-8"></script>
</body>
</html>